---
layout: default
title: Mentors
page_css: "about.css"
content_id: "aboutus"
active: "mentors"
mentor_rows: 
 - 
   mentors: 
     - 
       name: "Virgil Wong"
       img: "/img/ale.png"
     - 
       name: "Jorge Padilla"
       img: "/img/ale.png"
 - 
   mentors: 
     - 
       name: "Phyllis Chen"
       img: "/img/ale.png"
     - 
       name: "Vijay Chemburkar"
       img: "/img/ale.png"
---

<!-- {
    "mentor_rows": [{
        "mentors": [{
            "name": "Virgil Wong",
            "img": "/img/ale.png"
        },{
            "name": "Jorge Padilla",
            "img": "/img/ale.png"
        }]
    },{
        "mentors": [{
            "name": "Phyllis Chen",
            "img": "/img/ale.png"
        },{
            "name": "Vijay Chemburkar",
            "img": "/img/ale.png"
        }]
    }]   
}
 -->
<div id="aboutus">
    <div class="container">
        <div class="section_header">
            <h3>Mentorship Program</h3>
        </div>
        <div class="row">
            <div class="col-sm-6 intro">
                <h6>There are many variations of passages Lorem Ipsum available, injected generators on the hidden.</h6>
                <p>
                    There are many variations of passages of Lorem Ipsum available, injected 
                    generators on the  embarrassing hidden in the middle all the dictionary making it look like readable English. Many desktop publishing packages and web page editors.
                    <br /><br />
                    There are many variations of passages of Lorem Ipsum available, but the ndictionary of over 200 Latin words, combined with a handful of models The generated Lorem Ipsum is therefore always free from repetition, the injected humour, or non-characteristic words etc.</p>
            </div>
            <div class="col-sm-6">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                          <img src="/img/about_slide1.jpg" />
                        </li>
                        <li>
                          <img src="/img/about_slide1.jpg" />
                        </li>
                        <li>
                          <img src="/img/about_slide1.jpg" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="team">
    <div class="container">
        <div class="section_header">
            <h3>Our Mentors</h3>
        </div>

        {% for row in page.mentor_rows %}
            <div class="row people">
                <div class="row row1">

                    {% for mentor in row.mentors %}
                        <div class="col-sm-6 bio_box">
                            <img src="{{ mentor.img }}" alt="">
                            <div class="info">
                                <p class="name">{{ mentor.name }}</p>
                                <p class="area">Creative Director</p>
                                <a href="#" class="facebook">
                                    <span class="socialicons ico1"></span>
                                    <span class="socialicons_h ico1h"></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class="socialicons ico2"></span>
                                    <span class="socialicons_h ico2h"></span>
                                </a>
                                <a href="#" class="flickr">
                                    <span class="socialicons ico4"></span>
                                    <span class="socialicons_h ico4h"></span>
                                </a>
                                <a href="#" class="dribble">
                                    <span class="socialicons ico6"></span>
                                    <span class="socialicons_h ico6h"></span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div><!-- .row1 -->
            </div><!-- .row .people -->
        {% endfor %}

    </div>
</div>                  